.cur-weather {
	margin:0 50px;
}

.default {
	box-sizing: border-box;
}

.defaultimg {
	max-width: 100px;
	max-height: 100px;
}

.daily{
	display: inline-block;
	width: 180px;
	height: 300px;
	margin: 50px 25px;
	
}
  .upload-btn-wrapper {
	position: relative;
	overflow: hidden;
	display: inline-block;
  }
  
  .btn {
	border: 2px solid gray;
	color: gray;
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
  }
  
  #fileupload {
	font-size: 100px;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	width: 118px;
	height: 50px;
  }

  .btnmenu{
	margin-left: 310px;
	border: 2px solid gray;
	color: gray;
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
  }