.cur-weather {
	margin: 25px 150px 40px 150px;
}
.cloth {
	margin: 25px 40px 40px 20px;
}

.default {
	box-sizing: border-box;
}

.defaultimg {
	max-width: 100px;
	max-height: 100px;
}

.weekweather{
	width: 230px;
    height: 300px;
}
