div{
    font-weight: lighter;
}

.card{
    width: 580px;
    height: 290px;
}

#weather-icon{
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

#cur{
    padding: 10px 0 0 50px;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
}

.row{
    margin-top: 25px;
    margin-left: 25px;
}
.row ~ .row{
    font-size: 25px;
}